@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import "tailwindcss";
@import "./theme/theme.css";

body {
    font-family: 'Inter', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.listitem-nav{
    @apply py-1.5 lg:py-3 px-4;
}

.anchor-nav{
    @apply text-xs md:text-sm text-white lg:text-black hover:text-primary;
}

.hamburger-menu{
    @apply w-[25px] h-[2px] block bg-black;
}

.navbar-fixed{
    @apply rounded-lg right-6 top-17 w-[250px] p-2 fixed bg-[#353535] duration-300 shadow-[0_0_5px_0_rgba(0,0,0,0.5)];
    @apply lg:static lg:w-auto lg:p-0 lg:bg-transparent lg:shadow-none lg:rounded-none lg:backdrop-blur-none;
}

.hamburger-active > span:nth-child(1) {
    @apply origin-top-left rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply origin-bottom-left -rotate-45;
}

#toast-container > .toast {
    opacity: 1 !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#toast-container > .toast:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@media (max-width: 440px) {
    #toast-container {
        right: 0 !important;
        left: 0 !important;
        
        width: 100% !important;
        bottom: 1rem !important; 
        
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        pointer-events: none;
    }
    
    #toast-container > .toast {
        pointer-events: auto;
        
        font-size: 14px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        width: 80% !important;
        max-width: 350px !important;
        margin: 0 auto 0.5rem auto !important;
    }
}

.swal-actions-gap {
    gap: 0.75rem;
}

.swal2-title {
    @apply text-lg md:text-xl xl:text-2xl font-bold;
    font-family: var(--font-inter);
}

.swal2-html-container {
    @apply text-sm md:text-base xl:text-lg;
    font-family: var(--font-inter);
}

.swal2-popup {
    @apply w-[90%] max-w-[370px] md:max-w-[400px] lg:max-w-[450px];
}